.carousel-control-prev-icon /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel-control-next-icon /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel-indicators{
    color: black;
    filter: invert(100%);
}
