<div class="container p-5">
    <div class="row row-cols-1 g-5">
        <div class="card col mx-2 p-0" style="width: 18rem;" *ngFor="let project of projects">
            <img class="card-img-top img-fluid" src={{project.projectPhotos[0].path}} alt="Placehoder image project">
            <div class="card-body">
              <h5 class="card-title">{{project.projectTitle}}</h5>
              <p class="card-text">{{project.projectDescription}}</p>
              <a [routerLink]="['/property']" class="btn btn-primary">Current bid: </a>
              <!-- [queryParams]="{id: project.id}" -->
            </div>
            <div class="progress" style="width: 18rem; height: 0.3rem;">
              <div id="progressBar" class="progress-bar" role="progressbar" style="width: 10%; background-color: #CBC3E3;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>    
</div>
