<div class="container">
    <div class="row justify-content-center">
        <div class="card border-0 bg-light" style="width: 18rem;">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/MetaMask_Fox.svg/1200px-MetaMask_Fox.svg.png" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">Connect Wallet</h5>
                <p class="card-text">Connect your wallet with Metamask to either login or create a new account.</p>
                <a href="#" class="btn btn-primary">Connect</a>
            </div>
        </div>
    </div>
</div>