<div class="col mx-4">
    <div class="card border-0">
      <div class="card-header bg-transparent my-5"><h4>Profile</h4></div>
      <form #authForm="ngForm" (ngSubmit)="saveFormData(authForm)">
      <div class="row mx-2">
          <div class="col-6 card-footer bg-white border-0"><h5>Login details</h5></div><div class="col-6 card-footer bg-white border-0"></div>
          <div class="col-6 card-footer bg-white">Email address</div><div class="col-6 card-footer bg-white">soufiane2020@live.com
              <input 
                *ngif="editPressed"
                type="email"
                id="email" 
                class="form-control" 
                ngModel
                name="email" 
                placeholder="Email address" 
                required 
                email 
                />
            </div>
          <div class="col-6 card-footer bg-white">Password</div><div class="col-6 card-footer bg-white">********
              <input 
                *ngif="editPressed" 
                type="password" 
                class="form-control" 
                ngModel 
                name="password" 
                minlength="6"
              />
            </div>
          <div class="col-6 card-footer bg-white">Wallet</div><div class="col-6 card-footer bg-white"><button class="btn" type="button" (click)="connectWallet()" name="walletAddress">0x00000000000000000000000</button></div>
          
          <div class="col-6 card-footer bg-white"><h5>Personal information</h5></div><div class="col-6 card-footer bg-white"></div>
          <div class="col-6 card-footer bg-white">Name</div><div class="col-6 card-footer bg-white">soufiane test
              <input
              *ngIf="editPressed"
              type="text"
              class="form-control"
              ngModel
              name="name"
              >
            </div>
          <div class="col-6 card-footer bg-white">Phone number</div><div class="col-6 card-footer bg-white">06 123 456 78
              <input
              *ngIf="editPressed"
              type="number"
              class="form-control"
              ngModel
              name="phoneNumber"
              >
          </div>
          <div class="col-6 card-footer bg-white">Looking for </div><div class="col-6 card-footer bg-white">Selling a house
            <input
            *ngIf="editPressed"
            type="text"
            class="form-control"
            ngModel
            name="lookingFor"
            >
          </div>
          <div class="col-6 card-footer bg-white">Budget
            <input
            *ngIf="editPressed"
            type="number"
            class="form-control"
            ngModel
            name="phoneNumber"
            >
          </div><div class="col-6 card-footer bg-white"></div>
      </div>
      
      <button *ngIf="!editPressed" class="btn btn-sm w-25 btn-primary mx-auto" (click)="onEditPressed()" type="button">Edit</button>
      <button *ngIf="editPressed" class="btn btn-sm w-25 btn-primary mx-auto" type="submit">Save</button>

    </form>
</div>