<nav class="navbar navbar-expand-lg navbar-light px-md-4 sticky-top" style="background-color: #CBC3E3;">
  <a class="navbar-brand" href="#">HouseCrypt.</a>
  <button (click)="toggleNavBar()"class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class={{isCollapsed}} class="navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Offerings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Faucet</a>
      </li>
      <li class="nav-item" class={{addPadding}}>
        <a class="nav-link" [routerLink]="['/login']">Log in</a>
      </li>
    </ul>

  </div>
</nav>