<!-- Thin Banner Warning -->
<div class=" text-center m-0 p-0" role="alert" style="font-size: 0.9rem; background-color: #f33333; color: #f8f8f8; border-style: none">
  ⚠️ HouseCrypt. is a proof of concept decentralized application using the SepoliaETH testnet, not real Ethereum. Do not use real Ethereum.⚠️
</div>  
<nav class="navbar navbar-expand-lg my-0 py-0" style="background-color: #cbc3e3;">
  <div class="container-fluid" style="padding-right: 0%;">
    <!-- Left Side: Logo -->
    <a class="navbar-brand" href="#">
      HouseCrypt.
    </a>

    <!-- Center: Buttons -->
    <div class="mx-auto">
      <button class="btn btn-theme p-2" routerLink="/">Projects</button>
      <button class="btn btn-theme p-2" routerLink="/create">Create a Project</button>
    </div>

    <!-- Right Side: Connect or User Info with Dropdown -->
    <div class="d-flex align-items-center ms-auto">
      <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
        <button class="btn btn-theme p-0" routerLink="/login">Connect</button>
      </ng-container>
    
      <ng-template #loggedInTemplate>
        <div class="dropdown">
          <button class="btn btn-theme dropdown-toggle p-2" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/digital-wallet.png" style="height: 20px; width: 20px">
            {{ this.connectedUser }}
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" [routerLink]="['/profile', currentUser]">Profile</a></li>
            <li><a class="dropdown-item" (click)="toggleLogOut()">Disconnect</a></li>
          </ul>
        </div>
      </ng-template>
      
  
    </div>
  </div>
</nav>  


