<div class="container">
    <!-- Upload Project Photos -->
    <div class="mb-3">
        <label for="projectMedia" class="form-label">Upload Project Media</label>
        <input type="file" class="form-control" id="projectMedia" accept="image/*,video/*" (change)="onFileChange($event)" multiple>
    </div>
        <!-- Display Uploaded Media -->
        <div class="row bg-light">
            <div *ngFor="let file of getCombinedMedia()" class="col-md-2 image-container">
                <ng-container *ngIf="file.type.startsWith('image/')">
                    <!-- If it's an image -->
                    <img [src]="getImageUrl(file)" class="uploaded-media" alt="Uploaded Image">
                    <button type="button" class="delete-button" (click)="removeFile(file)">X</button>
                </ng-container>
                <ng-container *ngIf="file.type.startsWith('video/')">
                    <!-- If it's a video -->
                    <video controls class="uploaded-media">
                        <source [src]="getVideoUrl(file)" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <button type="button" class="delete-button" (click)="removeFile(file)">X</button>
                </ng-container>
            </div>
        </div>
</div>