.uploaded-media {
    width: 90px; /* Adjust as needed */
    height: 90px; /* Adjust as needed */
    margin-right: 5px; /* Optional: Add margin between previews */
}

.image-container {
    position: relative;
    display: inline-block;
}


.delete-button {
    position: relative;
    z-index: 9999;
    top: -100px;
    right: -80px;
    width: 20px;
    height: 20px;
    background-color: #a89e9e83;
    opacity: 200%;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.notification {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  