<div *ngIf="project">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>{{project.projectTitle}}</h1>
          <p>{{project.projectDescription}}</p>
          <!-- Include images, videos, or other media related to your project -->
          <app-carousel [project]="project" [autoChange] = "autoChange"></app-carousel>  
        </div>
  
        <div class="col-md-4 mt-5 py-5">
          <div class="card">
            <div class="card-body">
              <!-- Include a call-to-action to support the project -->
              <h5 class="card-title">Support This Project</h5>
              <div class="mb-3">
                <h3 class="card-text">0.0eth (110$)</h3>
                <p>pledged of the total <b>1.0eth</b> goal</p>
              </div>

              <span></span>
              <div class="mb-3">
                <h1>29</h1>
                <p>days to go</p>
              </div>
              <div class="progress bg-blueviolet">
                <div id="progressBar" class="progress-bar" role="progressbar" style="width: 10%; background-color: #CBC3E3;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span></span>
              <p class="card-text">Help make this project a reality by supporting it today!</p>
              <a class="btn btn-primary" style="background-color: blueviolet;" data-bs-toggle="modal" data-bs-target="#pledgeModal">
                Back This Project
              </a>
              
            </div>
          </div>
        </div>

      </div>
      
      <div class="row">
        <div class="col-md-8">
            <h2>Project Updates</h2>
            <!-- Include updates about your project's progress -->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Update 1: We Reached 50% Funding!</h5>
                <p class="card-text">Details about the project update go here.</p>
              </div>
            </div>
        </div>
        <div class="col-md-4 border rounded">
            <h2>Rewards</h2>
                      <!-- List your reward tiers with details -->
          <ul>
            <li>Backer Level 1: $10 - Description of reward 1</li>
            <li>Backer Level 2: $25 - Description of reward 2</li>
            <!-- Add more reward tiers as needed -->
          </ul>
        </div>
      </div>
    </div>
    <app-pledge-modal #pledgeModal (pledgeAmountChanged)="submitPledge($event)"></app-pledge-modal>

  </div>
