.vertical-divider {
    background-color: var(--bs-border-color);; /* Change to desired color */
    width: 1px;
    height: 100%;
  }
  
  .position-relative {
    position: relative;
  }
  
  .btn-custom {
    background-color: #cbc3e3;
    border-radius: 0px;
  }
  
  .btn-custom:hover {
    background-color: blueviolet;
  }
  
  .btn:hover {
    background-color: rgb(233, 217, 239);
  }

  .card {
    border-radius: 10px;
    background-color: rgba(233, 217, 239, 0.25);
    border-style: none;
  }
