.vertical-divider {
    background-color: var(--bs-border-color);; /* Change to desired color */
    width: 1px;
    height: 100%;
  }
  
  .position-relative {
    position: relative;
  }
  
  .btn-theme {
    background-color: #cbc3e3; /* Original background color */
    transition: background-color 0.3s ease; /* Smooth transition for color */
    border-radius: 0%;
  }
  
  .btn-theme:hover {
    background-color: #b5a3d4; /* Slightly darker color on hover */
  }

  .card {
    border-radius: 10px;
    background-color: rgba(233, 217, 239, 0.25);
    border-style: none;
  }
