<div 
  class="card" 
  [ngStyle]="{ 'background-color': update.snippet ? '#cbc3e3' : 'transparent'}" 
  style="border-style: none; border-radius: 1px;">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <p class="card-title">{{ update.title }}</p>
        <p class="card-text">{{ update.description }}</p>
      </div>
      <div class="text-muted text-end">
        <small>{{ update.dateTime | date: 'short' }}</small>
      </div>
    </div>
    <div class="card-media text-center">
      <img *ngIf="updateMedia" [src]="updateMedia" alt="Update Media" />
    </div>
  </div>
</div>
