.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.0)), url("https://t4.ftcdn.net/jpg/03/68/11/53/360_F_368115331_2J9ax3Lmub0UXkQwfvHUIMCCSLFn5UFy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 200px;
    padding-top: 50px;
}
.Profile-picture {
    margin-top: 2%;
    height: 200px;
    width: 200px;
}